// fonts
@font-face {
    font-family: 'UhBeeSeulvely';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'UhBeepuding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'UhBeeMiwan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeMiwan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// container
.calender {
    width: 1024px;
}

.month {
    width: 100%;
    text-align: center;
    padding:40px 0;
}

// month font size
.size{ 
    &-1 {
        font-size: 1rem;   
    }
    &-2 {
        font-size: 1.2rem;   
       }
    &-3 {
        font-size: 1.5rem;   
    }
    &-4 {
        font-size: 1.8rem;   
    }
    &-5 {
        font-size: 2rem;
    }
    &-6 {
        font-size: 2.2rem;
    }
    &-7 {
        font-size: 2.4rem;
    }
    &-8 {
        font-size: 2.6rem;
    }
    &-9 {
        font-size: 2.8rem;
    }
    &-10 {
        font-size: 3rem;
    }

}

.fonts{
    &_UhBeeSeulvely{font-family: 'UhBeeSeulvely'};
    &_UhBeepuding {font-family: 'UhBeepuding'};
    &_UhBeeMiwan {font-family: 'UhBeeMiwan'};
    &_MapoFlowerIsland {font-family: 'MapoFlowerIsland';}
}