// fonts
@font-face {
    font-family: 'UhBeeSeulvely';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'UhBeepuding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'UhBeeMiwan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeMiwan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// container
.calender {
    width: 1024px;
    margin: 10px auto;
    
}
// month
.month {
    width: 100%;
    text-align: center;
    padding:40px 0;
    .size{ 
        &-1 {
            font-size: 1rem;   
        }
        &-2 {
            font-size: 1.2rem;   
           }
        &-3 {
            font-size: 1.5rem;   
        }
        &-4 {
            font-size: 1.8rem;   
        }
        &-5 {
            font-size: 2rem;
        }
        &-6 {
            font-size: 2.2rem;
        }
        &-7 {
            font-size: 2.4rem;
        }
        &-8 {
            font-size: 2.6rem;
        }
        &-9 {
            font-size: 2.8rem;
        }
        &-10 {
            font-size: 3rem;
        }
    
    }
    .fonts{
        &_UhBeeSeulvely{font-family: 'UhBeeSeulvely'};
        &_UhBeepuding {font-family: 'UhBeepuding'};
        &_UhBeeMiwan {font-family: 'UhBeeMiwan'};
        &_MapoFlowerIsland {font-family: 'MapoFlowerIsland';}
    }
}

// week 
.week {
    display: flex;
    text-align: center;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    font-size: 18px;
    & > div {
        width: (100% /7) ;
        border-right: 1px solid #000 ;
        padding: 10px 0;
        &:last-child {
            border-right: none;
        }
    }
    .sun {
        color:red;
    }
    .sat {
        color:blue;
    }
}

// days
.days-container {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #000;

    .day {
        width: (100%/7);
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        &:nth-child(7n){
            border-right: none;
        }
        .day-line {
         width: 100%;   
         height: 30px;
        }
        .day-header {
            padding: 5px 10px;
            border-bottom: 1px solid #000;
        }
    }
}

// fonts 
.UhBeeSeulvely{font-family: 'UhBeeSeulvely'};
.UhBeepuding {font-family: 'UhBeepuding'};
.UhBeeMiwan {font-family: 'UhBeeMiwan'};
.MapoFlowerIsland {font-family: 'MapoFlowerIsland';}