@import './modules.scss';
@import './mixin';

// control pannel

@include mobile {
    .control-pannel  {
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        border-radius: 0;
    };
};
@include basic {
    .control-pannel  {
        width: 480px;
        height: calc(100% - 60px);
        top:30px;
        left: 20px;
        border-radius: 30px;
    };
};

// $base:#ece8ac;

.control-pannel {
    color: #333;
    position: fixed;
    padding: 30px 30px 50px;
    background-color:$base;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translateY(0);
    transition-property: transform;
    transition-duration: 0.3s;
    .month , .week, .day {
        h4 {
            text-align: left;
            margin-bottom: 10px;
        }
        .title {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
                font-size: 2rem;
            }
        }
        .type {
            margin-top: 30px;
        }
        .font {
            margin-top: 30px;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
    .capture-btn {
        margin-top:50px;
    }
}

.hide {
    transform: translateY(100vh);
    transition-property: transform;
    transition-duration: 0.3s;

}

